@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url(../_fonts/far-fromhomecoming-updated.otf);
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
}

section {
    width: 700px;
    margin: auto;
}

h2 {
    margin-bottom: 0px;
    font-size: 25pt;
}

p {
    text-align: justify;
    text-indent: 20px;
    font-size: 20pt;
}

img {
    display: block;
    margin: 0px auto 180px auto;
}

header#topo {
    border-bottom: 1px solid white;
    padding: 10px;
    margin: auto;
    height: 200px;
    background: url('../_fotos/marvel-logo.png') no-repeat 50% 25%;
}

h3 {
    float: right;
    margin-top: 185px;
}

h1 {
    font-size: 30pt;
    font-family: 'FonteLogo';
    margin-top: 130px;
    margin-left: 580px;
    color: rgb(128, 128, 128);
}